<div class="card">
  <%= link_to image_tag(party.image, class: :card__img ), party_path(party.id) %>
  <div class="card__body">
    <%= link_to party.name, party_path(party.id), class: :card__title%>
    <p class="card__summary">
      <%= link_to party.introduction, party_path(party.id), class: :card__summary%>
    </p>
    <%= link_to "by #{party.user.nickname}", "/users/#{party.user.id}", class: :card__user %>
  </div>
</div>