<div class="contents row">
  <% @parties.each do |party| %>
    <div class="content_post" >
      <p><%= party.introduction %></p>
      <span class="name">
        <%= party.name %>
      </span>
    </div>
  <% end %>
</div>