<main class="main">
  <div class="inner">
    <div class="card__wrapper">
      <%# 投稿機能実装後、部分テンプレートでparty投稿一覧を表示する %>
      <%= render partial: "party", collection: @party %>
    </div>
  </div>
</main>

