<div class="row featurette">
  <div class="col-md-8">
    <%= link_to image_tag(review.image, class: 'img-thumbnail'), party_path(review.party.id) %>
    <h4><%= review.title %></h4>
    <p><%= review.content %></p>
  </div>
</div>
